.forecasts{
  max-width: 900px;
  margin: auto;
  border: 1px solid #eceff1;
  margin-bottom: 1.5rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  background-clip: border-box;
  box-sizing: inherit;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.title {
  text-align: center;
}

.weatherForecast{
  display: flex;
  align-items: center;
  height: 200px;
}

.weather{
  margin: 0 auto;
}

.dashboardPage {
  max-width: 900px;
  margin: auto;
}
