.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    // background: theme.palette.background.paper;
  }

.gridList {
    width: 500px;
    height: 450px;
  }

.subheader {
    width: 100%;
  }

div.drag-drop {
    input[type=file] {
      // display: none;
  }

div.dropzone {
      height: 200px;
      width: 200px;
      background: url("http://www.kamarajcollege.ac.in/sites/default/files/blogpost-4.jpg");
      background-color: #fafafa;
      background-size: contain;
      // background-repeat: no-repeat;
      background-position: center;
      background-size: cover
    }
  }
