
div.drag-drop {
    input[type=file] {
      // display: none;
  }

div.dropzone {
      // height: 200px;
      // width: 200px;
      // background: url("http://www.kamarajcollege.ac.in/sites/default/files/blogpost-4.jpg");
      // background-color: #fafafa;
      // background-size: contain;
      // // background-repeat: no-repeat;
      // background-position: center;
      // background-size: cover
    }
  }

.memories{
  max-width: 900px;
  margin: auto;
  border: 1px solid #eceff1;
  margin-bottom: 1.5rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  background-clip: border-box;
  box-sizing: inherit;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.bkv{
  max-width: 100%;
  display: block;
  text-align: center;
}

.memory{
  display: inline-block;
  margin: 10px;
  vertical-align: bottom;

}

.image{
  margin: auto;
  position: relative;
}

.imageDelete{
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
  position: absolute;
  margin-left: -25px;
}

.addImageForm{
  max-width: 900px;
  margin: auto;
  margin-bottom: 1.5rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  background-clip: border-box;
  box-sizing: inherit;
}

.addImage{
  display: inline-block;
  float: left;
  margin-right: 3px;
}
