.root{
  width: "100%";
}

.logo{
  flex: 1;
  height: 50px;
  margin-top: 0;
  margin-left: 10px;
}

a.navLink{
    text-decoration: none;
    color: #eceff1;
    line-height: 1.4em;
    font-weight: 500;
    text-transform: uppercase;
    float: right;
    margin: 20px 15px 0px 10px;
}
