.sidebar-link {
  position: absolute;
  left: 5px;
  top: 14px;
  background: #f5f8fa;
  width: 200px;
  height: 100px;
  color: black;
  padding: 10px;
}

.sidenav {
    position: fixed;
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0px;
    background-color: #f5f8fa;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    color: #171717;
    line-height: 1.4em;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 10px;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #171717;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
