* {
  color: #1e3948;
}

html, body {
  height: 100%;
  background-color: #f5f8fa;
  color: #171717;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

@import 'buttons';
@import 'fonts';
@import 'video';
@import 'NavBar';
@import 'userProfile';
@import 'sideNav';
@import 'messages';
@import 'memories';
@import 'dashboard';
@import 'GoogleMaps';
