html, body {
  height: 100%;
  background-color: #21252b;
  color: #fff;
}

.loginForm{
  color: #fff;
  margin-top: 100px;
}

.registerForm{
  color: #fff;
}

nav{
  height: 5vh;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  a{
    color: #fe662b;
    margin: 5px 10px;
  }
  a:visited {
    color: #fe662b;
    display: inline;
    float: right;
    margin: 5px 10px;
    cursor:pointer;
  }
  a:link {
    text-decoration: none;
  }
}

img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;

}

.avatar img {
  width: 100%;
  height: auto;
}

img.img-responsive{
      display: inline;
    float: left;
    margin: 0 20px;
}

#background-video{
  width: 100%;
  height: 100%;
}
