img {
  margin-top: 20px;
}


img.img-responsive {
      margin: auto;
      width: 100px;
      height: 100px;
      display: flex;
      position: relative;
      overflow: hidden;
      font-size: 1.25rem;
      flex-shrink: 0;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      align-items: center;
      user-select: none;
      border-radius: 50%;
      justify-content: center;
  }

.userProfile{
  margin: auto;
  text-align: center;
  }

.userImage {
  position: relative;
  div{
    position: absolute;
    right: 20px;
  }
}

.upcomingTrips {
  position: relative;
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-bottom: 30px;
  div{
    position: absolute;
    right: 20px;
  }
}

.pastTrips {
  position: relative;
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  div{
    position: absolute;
    right: 20px;
  }
}

.documents {
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

a.listItem{
  // position: absolute;
  display: block;
  text-align: center;
  .tripButtons{
    position: absolute;
    right: 20px;
  }
}
